@font-face {
    font-family: "Movavi";
    src: url("../mir04ka.github.io/Movavi.ttf") format('truetype');
}

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: "Movavi";
}