@font-face {
    font-family: "Movavi";
    src: url("Movavi.ttf") format('truetype');
}

.header {
    box-sizing: border-box;
}

.search-space {
    padding-top: 40px;  
}

h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: "Movavi";
    color: var(--tg-theme-link-color);
}